{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="oval-wrapper">
    <div class="oval-box">
        <h2 class="titel">✨Welcome to Handcraft Show Off Where Creativity Meets Passion.✨</h2>
        <P>
            On this place you will get inspiered and we looking forward to be inspired by you.
            Post a picture of your work and write some lines about it, it is allways fun if you
            can add in a link to the pattern you used, or let us know how you did your own pattern.
            We want to know the storie about the the handcraft and just waiting for you to show
            and tell us about you work.
        </P>
    </div>
</div>

{% endblock %}
