{% extends "base.html" %}

{% load extras %}

{% block title %}Handcrafts{% endblock %}

{% block content %}
<h1 class="text-center">Handcrafts</h1>
<!-- Filter and sort Form -->
     <div class="filter-bar row justify-content-center">
        <form method="get">
            <label for="category">Category</label>
            <select name="category" id="category" onchange="this.formsubmit()">
                <option value="">All</option>
                {% for key, label in handcraft_types %}
                <option value="{{ key}}"{% if current_category == key %}selected{% endif %}>
                    {{ label }}
                </option>
                {% endfor %}
            </select>

            <label for="sort">Sort by:</label>
            <select name="sort" id="sort">
                <option value="created_on" {% if current_sort == 'created_on' %}selected{% endif %}>Newest</option>
                <option value="title" {% if current_sort == 'title' %}selected{% endif %}>Title</option>
            </select>

            <select name="direction">
                <option value="desc" {% if current_direction == 'desc' %}selected{% endif %}>Decreasing</option>
                <option value="asc" {% if current_direction == 'asc' %}selected{% endif %}>Increasing</option>
            </select>
            <button type="submit">Apply</button>
        </form>
    </div>
<div class="container d-flex flex-row flex-wrap justify-content-center">


    {% for handcraft in handcrafts %}
    <a href="{% url 'handcraft_detail' handcraft.slug %}" class="handcrafts" aria-label="Click to view {{ handcraft.title }}">
        <div class="card m-3" style="width: 18rem;">

            {% if user.is_authenticated %}
            <form action="{% url 'toggle_favorite' handcraft.slug %}" method="post"style="position: absolute; top: 10px; right: 10px; z-index: 10">

                {% csrf_token %}

                {% if handcraft.id in user_favorites %}
                <button type="submit" class="btn btn-link p-0 fs-1" title="Remove from favorites">❤️</button>

                {% else %}
                <button type="submit" class="btn btn-link p-0 fs-1" title="Add to favorites">🤍</button>
                {% endif %}
            </form>
            {% endif %}

            {% if handcraft.get_thumbnail_url %}
            <img src="{{ handcraft.get_thumbnail_url|default:handcraft.image.url }}" class="card-img-top handcraft-thumbnail" alt="{{ handcraft.title }}">

            {% elif handcraft.image and handcraft.image != "placeholder" %}
                <img src="{{ handcraft.image.url|default:handcraft.image.url }}"  class="card-img-top handcraft-thumbnail" alt="{{ handcraft.title }}">

            {% else %}
            <p>Ingen bild tillgänglig</p>

            {% endif %}

            <div class="card-body">
                <h2 class="card-title text-center">{{ handcraft.title|safe }}</h2>
                <p class="card-text">
                    {{ handcraft.excerpt|clean_excerpt|safe }}
                </p>
                <p><strong>Handcraft type:</strong> {{ handcraft.handcraft_type|title }}</p>
            </div>
        </div>
    </a>
    {% endfor %}
</div>
{% endblock %}
