{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Handcraft. Aweb for pepole that loves handcraft and like to be inspired adn inspire others">
    <meta name keywords content="handcraft, knitting, sewing, crochet, crafts, embroidery, handicrafts,">
    <!--Bootstrap5.3-->
    {% block extra_css %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}
    <link rel="icon" sizes="32x32" href="{% static 'icons/favicon-32x32.png' %}">
    <link rel="icon" sizes="16x16" href="{% static 'images/favicon-16x16.png' %}">

    <title>Handcraft Show Off - {% block title %}{% endblock %} </title>
</head>
<body>

    {% include 'includes/header.html' %}
    <!-- messages for actions -->
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2 mt-3">
                {% for message in messages %}
                <div class="alert
                    {% if message.tags == 'success' %}alert-success
                    {% elif message.tags == 'error' or message.tags == 'danger' %}alert-danger
                    {% elif message.tags == 'warning' %}alert-warning
                    {% elif message.tags == 'info' %}alert-info
                    {% else %}alert-secondary
                    {% endif %}
                    alert-dismissible fadeshow" role="alert">
                    {{ message | safe }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% if messages %}

    {% endif %}
    <main>
        {% block content %}
        {% endblock %}
    </main>
    {% include 'includes/footer.html' %}
    {% block onload_js %}
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js" integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO" crossorigin="anonymous"></script>

    {% endblock %}
</body>
</html>
