@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Tangerine:wght@400;700&display=swap');

:root {
  /* Fonts */
  --titlet: 'Tangerine', serif;
  --main: 'Roboto', serif;

  /* Colours */
--cerulean: #227c9dff;
--light-sea-green: #17c3b2ff;
--sunset: #ffcb77ff;
--floral-white: #fef9efff;
--light-red: #fe6d73ff;
--black: #000;

  /* Utils */
  --small-box-shadow: 1px 4px 7px 0 #00000061;
  --border: 1px solid #00000030;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: var(--main);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--title);
}

main {
  flex: 1 0 auto;
  background-color: var(--floral_white);
}

/* Footer */
footer {
  flex-shrink: 0;
  background-color: var(--sunset);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-top: var(--border);
}

.social-icon {
  height: 2rem;
  margin: 1rem;
}


/* Header */
header {
  background-color: aqua;
}

.navbar {
  background-color: var(--sunset);
  box-shadow: var(--small-box-shadow);
}

img.logo {
  width: 18.50rem;
}

a.nav-lik {
  color: var(--black);
}

.activ {
  border-bottom: 2px solid var(--cerulean);
  font-weight: 600;
}

.form {
  width: 100%;
  margin: 3% auto;
  box-shadow: var(--small-box-shadow);
  border-radius: 5px;
}

/* Handcrafts */
.card {
  height: 450px;
  margin-top: 1rem;
}

.card-img-top {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.handcrafts {
  text-decoration: none;
  color: var(--black);
}

.handcrafts:hover {
  cursor: pionter;
}

.handcraft-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.handcraft-container {
  display: flex;
  flex-direction: column;
}

.handcraft-content {
  width: 100%;
}

.post-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.handcraft-pic {
  width: 100%;
  height: auto;
}


@media screen and (min-width: 770px) {
  .handcraft-info {
    flex-direction: row;
    border: 1px solid var(--black);
  }
  .handcraft-img {
    width: 40%;
    margin: 0 auto;
  }

  .handcraft-detail {
    width: 60%;
    padding: 2rem;
  }

  .handcraft-container {
    flex-direction: row;
  }


}
